<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  </head>
  <body>
    <script type="text/javascript" src="public/build/home.bundle.js"></script>
  </body>
</html>
